# See https://git-scm.com/docs/gitattributes for more information.

# All files
* text=auto

# Markdown files
*.md text

# .NET files: C#
*.cs text diff=csharp
# .NET files: XML
*.csproj text
*.props text
*.targets text

# Image files
*.bmp binary

# Shell scripts require LF
*.sh text eol=lf
# Batch scripts require CRLF
*.bat text eol=crlf
