# JetBrains
.idea/

# C# build artifacts
/artifacts/
bin/
obj/

# C# packages
/nupkg/

# Native libraries
/ext/.*
/lib/

# Bindgen
/bindgen/**/ffi/
/bindgen/**/ffi-x/

# macOS
.DS_store

# Assets compiled
## Shaders compiled
*.dxil
*.msl
*.spv

