# See https://git-scm.com/docs/gitattributes for more information.

# All files
* text=auto

# Markdown files
*.md text

# .NET files: C#
*.cs text diff=csharp
# .NET files: XML
*.csproj text
*.props text
*.targets text

# Image files
## Bitmap Raster Image
*.bmp   binary
## Portable Network Graphics Image
*.png   binary
## High Dynamic Range Image
*.hdr   binary
## Adaptive Scalable Texture Compression Image
*.astc  binary

# Source shader files
## High-level shader language (DirectX)
*.hlsl  text

# Compiled shader files
## DirectX intermediate language (GPU shader)
*.dxil  binary
## Metal shading language (GPU shader)
*.msl   binary
## Standard portable intermediate representation (GPU shader)
*.spv   binary

# Shell scripts require LF
*.sh text eol=lf
# Batch scripts require CRLF
*.bat text eol=crlf
